version: "3.9"

services:
  redis:
    image: redis:7
    container_name: redis
    restart: always

  monitor:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: monitor
    depends_on:
      - redis
    environment:
      REDIS_ADDR: "redis:6379"
      PRESHARED_WORKER_KEY: "abc123"
      LOCAL_WORKER_NUM: 2

    ports:
      - "8080:8080"
    restart: always
