name: Test

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Go format check
        run: |
          fmt_out=$(gofmt -l .)
          if [ -n "$fmt_out" ]; then
            echo "gofmt check failed for:"
            echo "$fmt_out"
            exit 1
          fi

      - name: Docker Compose integration tests
        run: |
          docker compose -f docker-compose-test.yaml up \
            --build \
            --abort-on-container-exit
      - name: Docker Compose cleanup
        if: always()
        run: |
          docker compose -f docker-compose-test.yaml down -v

